
/*공통*/
*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
.div-center {
	margin: 0 auto;
}
.float-left{
	float: left;
}
.float-right{
	float: right;
}
.main{
	border: 1px solid black;
	min-width: 1100px;
}