<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.green.leather.dao.ProductDAO">
<!-- 전체제품리스트-->
	<select id="getProductListAll" resultType="kr.green.leather.vo.ProductVO">
	    select * from product where 
	    <choose>
	   		<when test='product_state.equals("I") ||product_state.equals("D")'> 
	   			product_state=#{product_state}
	   		</when>
	    	<otherwise>
	    		product_state='I' or product_state='D'
	   		</otherwise>
	    </choose>
	    order by product_code desc limit #{cri.pageStart},#{cri.perPageNum}
  </select>
  <!-- 메인,서브카테고리선택시 제품리스트 -->
  <select id="selectProductList" resultType="kr.green.leather.vo.ProductVO">
    select * from product where 
    <choose>
   		<when test='product_state.equals("I") ||product_state.equals("D")'> 
   			product_state=#{product_state} and
   			product_maincategory=#{product_maincategory} and
   			product_subcategory=#{product_subcategory}
   		</when>
    	<otherwise>
    		product_state='I' or product_state='D'
   		</otherwise>
    </choose>
    order by product_code desc limit #{cri.pageStart},#{cri.perPageNum}
    <!-- dao에서 param이 붙었기 때문에 앞에 cri.가 붙어야 함  -->
  </select>
  <!-- 메인카테고리선택시 제품리스트 -->
  <select id="selectCategoryList" resultType="kr.green.leather.vo.ProductVO">
  	select * from product where 
    <choose>
   		<when test='product_state.equals("I") ||product_state.equals("D")'> 
   			product_state=#{product_state} and
   			product_maincategory=#{product_maincategory}
   		</when>
    	<otherwise>
    		product_state='I' or product_state='D'
   		</otherwise>
    </choose>
    order by product_code desc limit #{cri.pageStart},#{cri.perPageNum}
  </select>
  <!-- 총 리스트 개수 -->
  <select id="selectCountList" resultType="int">
    select count(*) from product where 
    <choose>
   		<when test='product_state.equals("I") ||product_state.equals("D")'> 
   			product_state=#{product_state}
   		</when>
    	<otherwise>
    		product_state='I' or product_state='D'
   		</otherwise>
    </choose>
  </select>
  <!-- 메인,서브카테고리 총 리스트 개수 -->
  <select id="selectCountCategoryList" resultType="int">
    select count(*) from product where 
    <choose>
   		<when test='product_state.equals("I") ||product_state.equals("D")'> 
   			product_state=#{product_state} and
   			product_maincategory=#{product_maincategory} and
   			product_subcategory=#{product_subcategory}
   		</when>
    	<otherwise>
    		product_state='I' or product_state='D'
   		</otherwise>
    </choose>
  </select>
  <!-- 메인카테고리 총 리스트 개수 -->
  <select id="selectCountListAll" resultType="int">
    select count(*) from product where 
    <choose>
   		<when test='product_state.equals("I") ||product_state.equals("D")'> 
   			product_state=#{product_state} and
   			product_maincategory=#{product_maincategory}
   		</when>
    	<otherwise>
    		product_state='I' or product_state='D'
   		</otherwise>
    </choose>
  </select>
  <!-- 게시글상세 -->
  <select id="selectProduct" resultType="kr.green.leather.vo.ProductVO">
  	select * from product where product_code=#{product_code} ;
  </select>
  
  	<!-- 게시글등록 -->
  	<insert id="insertProduct">
	  	insert into product(
		  	product_code,
		  	product_writer,
		  	product_title,
		  	product_contents,
		  	product_maincategory,
		  	product_subcategory,
		  	product_origin,
		  	product_price,
		  	product_made,
		  	product_stock,
		  	file,
		  	contentsfile) 
	  	value(
	  	#{product.product_code},
	  	#{product.product_writer},
	  	#{product.product_title},
	  	#{product.product_contents},
	  	#{product.product_maincategory},
	  	#{product.product_subcategory},
	  	#{product.product_origin},
	  	#{product.product_price},
	  	#{product.product_made},
	  	#{product.product_stock},
	  	#{product.file},
	  	#{product.contentsfile})
  	</insert>
	
  <!-- 게시글 수정 -->
  <update id="updateProduct">
  	update product
  		set 
  			product_title =#{product.product_title},
  			product_contents=#{product.product_contents},
  			product_maincategory=#{product.product_maincategory},
  			product_subcategory=#{product.product_subcategory},
  			product_origin=#{product.product_origin},
  			product_price=#{product.product_price},
  			product_made=#{product.product_made},
  			product_stock=#{product.product_stock},
  			file=#{product.file},
  			contentsfile=#{product.contentsfile},
  			product_views=#{product.product_views},
  			product_state=#{product.product_state}
  		where
  			product_code=#{product.product_code}
  </update>
</mapper> 