
/*공통*/
*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
.div-center {
	margin: 0 auto;
}
.float-left{
	float: left;
}
.float-right{
	float: right;
}

.main{
	border: 1px solid black;
	min-width: 1100px;
}
/*header*/
.header{
	height: 280px;
	border: 1px solid red;
}
.header-top{
	height: 30px;
}
.header-menu{
	padding-right: 20px;
	text-decoration: none;
}
.header-middle{
	height: 200px;
	position: relative;
	padding: 10px;
}
.header-bottom{
	height: 50px;
}
.main-min{
	width: 1080px;
	height: 100%;
	/* border: 1px solid black; */
}

.header-menu a{
	color: black;
	font-size:8px;
	line-height: 10px;
	font-weight: bold;
	text-decoration: none;
}
/*로고*/
.header-logo{
 position: absolute;
 width: 300px;
 height: 100px;
 border: 1px solid red;
 left: 400px;
 top : 30px;
}

/* 카테고리 */
.header-category{
	float: left;
	padding-top: 10px;

}
.header-category li{
	text-align: center;
	list-style: none;
	float: left;
	padding-left: 35px;
	font-size: 20px;
	font-weight: bold;
}

/* 검색창 */
.search-box{
	width: 300px;
	height: 38px;
}
.search{
	float: left;
	width: 260px;
	height: 38px;
	padding: 3px 10px;
	border: 1px solid #192d55;
}
.search input{
	width:240px;
	height: 28px;
	/* border: none;
	outline: none; */
	font-size:20px;
	line-height: 36px;
	font-weight: bold;
}
.search-btn{
	float: right;
	display: inline-block;
	width: 40px;
	height: 38px;
	background-color: #192d55;
	padding:7px;
}
.search-icon{
	font-size: 20px;
	color: white;
}



/*middle*/
.middle{
width: 1080px;
/* border: 1px solid yellow; */
}
.img-slide{
	width: 100%;
	height: 500px;
	border: 1px solid green !important;/* !important 우선순위로 하겠다는 의미*/
}
.main-img{
	height: 750px;
	border: 1px solid red;
	width: 100%;
	padding: 20px 10px;
}
.main-info{
	width: 100%;
	height: 240px;
	border: 1px solid blue;
	padding: 20px 12px;
}

/*메인 제품 new,best*/
.main-new,
.main-best{
	float: left;
	width: calc( 99% / 2 );
	height: 100%;
	border: 1px solid blue;
	margin-right: 5px;
	height: 720px;
	padding: 10px 0 0 10px;
}
.product-box{
	margin: 0 15px;
}
.new,
.best{
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
	width: 230px;
	height: 200px;
	border: 1px solid black;
}
.product-icon{
	height: 70px;
}
.best-icon,
.new-icon,
.more-icon{
	width: 80px;
	height: 50px;
	font-size: 30px;
	border: 1px solid red;
	margin: 0 10px 10px 0;
}

/*메인하단,정보*/
.info-box{
	border: 1px solid navy;
	float: left;
	width: 200px;
	height: 175px;
	margin: 5px;
}
/*footer*/
.footer{
height: 276px;
border: 1px solid green;
}
.footer-info{
	border: 1px solid red;
	text-align: center;
	font-size: 11px;
	color: #757575;
	line-height: 18px;
}